@page "/"
@inherits VaccineListBase
<h3>VaccineList</h3>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Batch No</th>
            <th>Name</th>
            <th>Distribution</th>
            <th>No Of Doses</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vaccine in Vaccines)
        {
        <tr>
            <th>@vaccine.BatchNo</th>
            <th>@vaccine.Name</th>
            <th>@vaccine.distribution</th>
            <th>@vaccine.NoofDoses</th>
        </tr>
        }
    </tbody>
</table>

